@import "../_styles/dark.scss";
:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    background: $background-dark;
}

.button {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.3em;
    border-radius: 1.2em;
    background: $background;
    cursor: pointer;
    transition: background-color $animation-duration linear, border-color $animation-duration linear,
    color $animation-duration linear, box-shadow $animation-duration linear, transform $animation-duration ease;
}

.button:hover {
    box-shadow: 0 0 0 2px $focus;
    border-radius: 0.7em;
}